@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-yellow: #FFC107;
  --color-brand-green: #008F39;
  --color-brand-black: #1A1A1A;
  --color-brand-white: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
